.dataTableAreaOfMasterPhotos{
    margin-top: 1.5rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.dataTableOfMasterPhotos {
    width: 100%;
    border-collapse: collapse;
  }

  .MasterSectionTableHeader, .MasterSectionTableData {
    border: 1px solid #ddd;
    padding: 14px;
    text-align: left;
  }
  
  .MasterSectionTableHeader {
    background-color: #f2f2f2;
  }

 .anchorCentre{
  text-align: center;
 }

 .MastersectionTablesIcon{
  cursor: pointer;
 }